# Compiled Python modules
*.pyc

# Editor swap/temp files
.*.sw*
*~

# Documentation Builds
docs/build/

# qtMUD Pickles
data/*.p

# Logs
debug.log
.cache/
logs/*.logs

# Local configs
.idea/


# PyPi distribution
/dist/
/build/

# Python egg data
/*.egg-info
